*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
}
body{
    background-color: var(--off-white);
}
@font-face {
  font-family: "ABC";
  src: url(./FlameBold.otf);
}
:root {
  --brown: #502314;
  --off-white: #f8f1e7;
  --gray: #817c70;
}
.name{
    font-size: 3rem;
    font-family: ABC;
    align-items: center;
    color: var(--brown);
    justify-content: center;
    text-transform: uppercase;   
}
.parent{
    display: flex;
    justify-content: space-around;
    border: 2px solid  #502314;
    padding: 20px 20px;
    
    
}
.navbar{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    color: var(--brown);
}

.btn{
    color: var(--gray);
    background-color: var(--off-white);
    border: 1px solid var(--gray);
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1.8rem;
    margin-left: 10px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.fa-user{
    text-align: center;
    color: var(--brown);
    font-size: 1.5rem; 
    margin-top: 10px; 
}

.fa-bag-shopping{
    text-align: center;
    color: var(--gray);
      
}

@media screen and (max-width: 767px){
    .btn{
        display: none;
    }
    .parent{
        justify-content: space-between;
    } 
}

@media screen and(max-width 685px){



    
}

@media screen and(max-width 941px){



    
}

.main{
    border: 2px solid var(--brown);
    display: flex;
    justify-content: space-evenly; 
    margin: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}

.img img{

    height: 400px;
}
h1{
    font-size: 7rem;
    font-family: ABC;
    color: var(--brown);
}
.order{
    background: red;
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 50px;
    margin-bottom: 10px;
}
.delivery{
    color: var(--brown);
    padding: 15px;
    font-size: 1.5rem;
    border-radius: 50px;
    margin-bottom: 10px;
}
.line{
    justify-self: center;
}
.section1{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
    border: 2px solid black;

}
.img1 img{
    width: 600px;
    margin: 7px;
    border-radius: 10px;
}

.img2 img{
    width: 600px;
    margin: 7px;
    border-radius: 10px;
}
img1{
    background-color: aqua;
}